doctype  html 
html 
    head 
        title Dance website 
        style 
         include ../static/style.css 
    body 
       nav#navbar 
         ul
           img(src="../static/img/logo.png", alt="")
           li #[a(href="/") Home]
           li #[a(href="/") About us]
           li #[a(href="/") Services]
           li #[a(href="/") Contact us]
           li #[a(href="/") Our personal Blog]
        
    section#introsection 
        h1 Welcome to sadam's academy 
        div dancw wat and than sleep at all 

    section#missionssection 
        h1  missionsection 
        div.card
           div.card-box
              h3 Dance all the time
           div.content
              img(src="../static/img/1.png", alt="")
              p Lorem, ipsum dolor. 
        div.card
           div.card-box
              h3 Dance and spread the love 
           div.content
              img(src="../static/img/2.png", alt="")
              p Lorem, ipsum dolor. 
        div.card
           div.card-box
              h3 Dance and love each other 
           div.content
              img(src="../static/img/3.png", alt="")
              p Lorem, ipsum dolor.
          

    section#sponsorssection 
        h2 this is sponsors section
          div.img 
             img(src="../static/img/logo1.png", alt="")
             img(src="../static/img/logo2.png", alt="")
             img(src="../static/img/logo3.png", alt="")
             img(src="../static/img/logo4.png", alt="")
    footer#footer
      p Code with sadam khan &copy 2022 all rights reserved
